<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.moyoung.movie.model.mapper.MovieMapper">
	<sql id="selectMovieSql">
		SELECT
			MOVIE_ID,
			LAST_UPDATE,
			TITLE,
			TITLE_KOR,
			PRODUCT_YEAR,
			OPEN_DATE,
			COUNTRY,
			GENRE,
			DIRECTOR,
			VOTE,
			ADULT,
			RUN_TIME,
			M_POSTER,
			NETFLIX,
			WATCHA,
			TVING,
			WAVVE,
			STORY,
			ACTOR,
			VIEWING_AGE,
			TRAILER
		FROM MOVIE
	</sql>

	<resultMap type="Movie" id="movieListResultMap" >
		<id property="movieNo" column="MOVIE_ID"/>
		<result property="last_update" column="LAST_UPDATE"/>
		<result property="title" column="TITLE"/>
		<result property="title_kor" column="TITLE_KOR"/>
		<result property="product_year" column="PRODUCT_YEAR"/>
		<result property="open_date" column="OPEN_DATE"/>
		<result property="country" column="COUNTRY"/>
		<result property="genre" column="GENRE"/>
		<result property="director" column="DIRECTOR"/>
		<result property="vote" column="VOTE"/>
		<result property="adult" column="ADULT"/>
		<result property="run_time" column="RUN_TIME"/>
		<result property="m_poster" column="M_POSTER"/>
		<result property="netflix" column="NETFLIX"/>
		<result property="watcha" column="WATCHA"/>
		<result property="tving" column="TVING"/>
		<result property="wavve" column="WAVVE"/>
		<result property="story" column="STORY"/>
		<result property="actor" column="ACTOR"/>
		<result property="viewing_age" column="VIEWING_AGE"/>
		<result property="trailer" column="TRAILER"/>
	</resultMap>

	<!-- movie 리스트 목록 with title-->
	<select id="selectMovieList" resultMap="movieListResultMap">
		<include refid="selectMovieSql"/>
		ORDER BY MOVIE_ID DESC
	</select>

	<select id="selectMovieListWithTitle" parameterType="Map" resultMap="movieListResultMap">
		<include refid="selectMovieSql"/>
		<if test="title != null and title != ''">
			WHERE TITLE_KOR LIKE '%${title}%'
		</if>
		ORDER BY MOVIE_ID DESC
	</select>

	<select id="selectMovieRecent" parameterType="Map" resultMap="movieListResultMap">
		<include refid="selectMovieSql"/>
		<if test="title != null and title != ''">
			WHERE TITLE_KOR LIKE '%${title}%'
		</if>
		ORDER BY PRODUCT_YEAR DESC
	</select>

	<select id="selectMovieVote" parameterType="Map" resultMap="movieListResultMap">
		<include refid="selectMovieSql"/>
		<if test="title != null and title != ''">
			WHERE TITLE_KOR LIKE '%${title}%'
		</if>
		ORDER BY VOTE DESC
	</select>

	<select id="selectMovieCount" resultType="_int">
		SELECT COUNT(*) FROM MOVIE
	</select>

	<select id="selectMovieCountWithTitle" parameterType="Map" resultType="_int">
		SELECT COUNT(*) FROM MOVIE
		<if test="title != null and title != ''">
			WHERE TITLE_KOR LIKE '%${title}%'
		</if>
	</select>

	<!-- 메인화면에 DB top5 영화 -->
	<select id="top5List" resultMap="movieListResultMap">
		<include refid="selectMovieSql" />
		ORDER BY VOTE DESC
	</select>

	<resultMap type="Movie" extends="movieListResultMap" id="movieDetailResultMap">
<!-- 		<collection property="replies" javaType="arraylist" columnPrefix="R_" resultMap="boardReplyResultMap"/> -->
	</resultMap>


	<!--  마이페이지 - 내가 찜한 영화 카운트 -->
	<select id="selectLikeCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM MOVIE
		JOIN MOVIE_USER_LIKE L ON (MOVIE.MOVIE_ID = L.MOVIE_ID AND L.U_NO = #{u_no})
	</select>

	<!--  마이페이지 - 내가 찜한 영화 리스트 -->
	<select id="selectLikeList" parameterType="map" resultMap="movieListResultMap">
		SELECT MOVIE.*
		FROM MOVIE
		JOIN MOVIE_USER_LIKE L ON (MOVIE.MOVIE_ID = L.MOVIE_ID AND L.U_NO = #{u_no})
	</select>

	<!-- 플랫폼별 영화 개수 카운트 -->
	<select id="selectPlatformCount"  resultType="_int">
		SELECT COUNT(*)
        FROM MOVIE
        WHERE NETFLIX IS NOT NULL
	</select>

	<!-- 넷플릭스 리스트 -->
	<select id="selectNetflixList" resultMap="movieListResultMap">
		<include refid="selectMovieSql"/>
			WHERE NETFLIX IS NOT NULL
			ORDER BY VOTE DESC
	</select>

	<select id="selectWatchaList" resultMap="movieListResultMap">
		<include refid="selectMovieSql"/>
			WHERE WATCHA IS NOT NULL
			ORDER BY VOTE DESC
	</select>

	<select id="selectTvingList" resultMap="movieListResultMap">
		<include refid="selectMovieSql"/>
			WHERE TVING IS NOT NULL
			ORDER BY VOTE DESC
	</select>

	<select id="selectWavveList" resultMap="movieListResultMap">
		<include refid="selectMovieSql"/>
			WHERE WAVVE IS NOT NULL
			ORDER BY VOTE DESC
	</select>

	<select id="selectMovieByNo" parameterType="_int" resultMap="movieDetailResultMap">
 		SELECT
			MOVIE_ID,
			LAST_UPDATE,
			TITLE,
			TITLE_KOR,
			PRODUCT_YEAR,
			OPEN_DATE,
			COUNTRY,
			GENRE,
			DIRECTOR,
			VOTE,
			ADULT,
			RUN_TIME,
			M_POSTER,
			NETFLIX,
			WATCHA,
			TVING,
			WAVVE,
			STORY,
			ACTOR,
			VIEWING_AGE,
			TRAILER
		FROM MOVIE
		WHERE MOVIE_ID=#{movieNo}
	</select>

<!-- 	<select id="selectMovieByDate" resultMap="movieListResultMap"> -->
<!-- 		<include refid="selectMovieSql"/> -->
<!-- 		ORDER BY PRODUCT_YEAR DESC -->
<!-- 	</select> -->

</mapper>
