<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.moyoung.notice.model.mapper.NoticeMapper">
	<sql id="noticeListSql">
		SELECT 	N.NO,
				N.TITLE, 
				M.U_ID,
				N.CONTENT,
				N.CREATE_DATE
		FROM NOTICE N
		JOIN MEMBER M ON(N.WRITER_NO = M.U_NO)
	</sql>
	
	<resultMap type="Notice" id="noticeListResultMap">
		<id property="no" column="NO"/>
		<result property="writerId" column="U_ID"/>
		<result property="writerNo" column="WRITER_NO"/>		
		<result property="title" column="TITLE"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="content" column="CONTENT"/>
	</resultMap>

	<resultMap type="Notice" extends="noticeListResultMap" id="noticeDetailResultMap">
<!-- 		<collection property="replies" javaType="arraylist" columnPrefix="R_" resultMap="boardReplyResultMap"/> -->
	</resultMap>
	 
	<select id="selectNoticeList" resultMap="noticeListResultMap">
		<include refid="noticeListSql"/>	
		ORDER BY N.NO DESC
	</select>
	
	<select id="selectNoticeCount" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
	</select>
	
	<select id="selectNoticeByNo" parameterType="_int" resultMap="noticeDetailResultMap">
 		SELECT	N.NO,
				N.TITLE,
				N.WRITER_NO,
				M.U_NO,
				N.CONTENT,
				N.CREATE_DATE
		FROM NOTICE N
		JOIN MEMBER M ON(N.WRITER_NO = M.U_NO)
 		WHERE N.STATUS='Y' AND N.NO=#{noticeNo}
	</select>
	
	<insert id="insertNotice" parameterType="map"
			useGeneratedKeys="true" keyProperty="no" keyColumn="NO">
		INSERT INTO NOTICE (
			NO,
			WRITER_NO,
			TITLE,
			CONTENT,
			STATUS,
			CREATE_DATE,
		) VALUES (
			SEQ_NOTICE_NO.NEXTVAL,
			#{writerNo},
			#{title},
			#{content},
			DEFAULT,
			DEFAULT
		)
	</insert>
	
	<update id="updateNotice" parameterType="map">
		UPDATE NOTICE
		SET
			TITLE=#{title},
			CONTENT=#{content},
			MODIFY_DATE=SYSDATE
		WHERE
			NO=#{no}
	</update>
</mapper>